.TopBannerBg{
     background: #F3F3F3;
     color: #171717;
     padding: 50px 0;
}
.imgdeveloper{
     /* border-radius: 10px; */
     box-shadow: 9px 10px 10px #171717;
}
.name-pre-text{
     font-weight: 300;
     font-size: 24px;
}
.name-text{
     font-family: sans-serif;
     font-weight: 700;
     
}
.dev-para{
     font-weight: 400;
     font-size: 16px;
     margin: 8px 0px 10px 0;
     padding-bottom: 14px;
}
.resume-btn{
     text-decoration: none;
     color: #fff;
     font-weight: 600;
     background: #171717;
     padding: 10px 20px;
     border-radius: 3px;
}
.resume-btn:hover{
     color: #1a1a1b;
     background: gainsboro;
     transition: linear .5s;
}